body{
    margin: 0px;
    overflow: hidden;
}

.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}
.comicBalloon{
    border-radius: 25px;
    background: white;
    color: black;
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    width: 200px;
    font-family: sans-serif;
    font-size: 12px;
    z-index: 1;
}
.comicBalloon::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
    background: transparent;
    width: 0;
    height: 0;
    border-bottom: 20px solid white;
    border-left: 20px solid transparent;
    z-index: -1;
}
.text .narrative{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}
.text {
    color: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.text .positionComicBallon0,
.text .positionComicBallon1,
.text .positionComicBallon2,
.text .positionComicBallon3 {
    position: absolute;
}

@media screen and (orientation: portrait) {
    .text .positionComicBallon0 {
        top: 15px;
        left: 5px;
    }

    .text .positionComicBallon0::after {
        bottom: -20px;
        transform: rotate(270deg);
    }

    .text .positionComicBallon1 {
        top: 100px;
        right: 5px;
    }

    .text .positionComicBallon1::after {
        bottom: -20px;
        transform: rotate(180deg);
    }

    .text .positionComicBallon2 {
        bottom: 230px;
        left: 5px;
    }

    .text .positionComicBallon2::after {
        top: -20px;
        transform: rotate(0deg);
    }

    .text .positionComicBallon3 {
        bottom: 150px;
        right: 5px;
    }
    .text .positionComicBallon3::after {
        top: -20px;
        transform: rotate(90deg);
    }
}


@media screen and (orientation: landscape) {
    .text .positionComicBallon0 {
        top: 10px;
        left: 5px;
    }

    .text .positionComicBallon0::after {
        bottom: -20px;
        transform: rotate(270deg);
    }

    .text .positionComicBallon1 {
        top: 13px;
        right: 5px;
    }

    .text .positionComicBallon1::after {
        bottom: -20px;
        transform: rotate(180deg);
    }

    .text .positionComicBallon2 {
        bottom: 103px;
        left: 5px;
    }

    .text .positionComicBallon2::after {
        top: -20px;
        transform: rotate(0deg);
    }

    .text .positionComicBallon3 {
        bottom: 100px;
        right: 5px;
    }
    
    .text .positionComicBallon3::after {
        top: -20px;
        transform: rotate(90deg);
    }
}